

img{
    width: 20px;
    height: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

.centro{

    margin-left: 750px;



}

.grassetto{

  font-size: 28px;
  margin-top: 10px;
  text-align: center;


}

body{

    background-color: lightslategray;
}